# ZyEmacs files

zylatex.sty

# Other files

*.elc
.mc-lists.el
.org-id-locations
auto-save-list
bookmarks
custom.el
eln-cache
eshell
history
straight
org-persist
org-roam.db
places
projects
recentf
server
tramp
transient
url
