# ZyEmacs specific files

etc/zylatex.sty
!eshell/alias

# Ignore straight except for lockfiles

straight/*
!straight/versions

# Ignore other temporary files

.cache/
*.elc
.mc-lists.el
.org-id-locations
auto-save-list
bookmarks
custom.el
dirvish
eln-cache
emacs_backtrace.txt
eshell
history
image-dired
org-persist
org-roam.db
places
projectile-bookmarks.eld
projects
recentf
server
tramp
transient
url
