[submodule "ag"]
	path = lib/ag
	url = git@github.com:Wilfred/ag.el.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "beacon"]
	path = lib/beacon
	url = git@github.com:Malabarba/beacon.git
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "cape"]
	path = lib/cape
	url = git@github.com:minad/cape.git
[submodule "clipetty"]
	path = lib/clipetty
	url = git@github.com:spudlyo/clipetty.git
[submodule "closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
	path = lib/consult
	url = git@github.com:minad/consult.git
[submodule "consult-yasnippet"]
	path = lib/consult-yasnippet
	url = git@github.com:mohkale/consult-yasnippet.git
[submodule "corfu"]
	path = lib/corfu
	url = git@github.com:minad/corfu.git
	load-path = "."
	load-path = extensions
[submodule "corfu-doc"]
	path = lib/corfu-doc
	url = git@github.com:galeo/corfu-doc.git
[submodule "corfu-doc-terminal"]
	path = lib/corfu-doc-terminal
	url = https://codeberg.org/akib/emacs-corfu-doc-terminal
[submodule "corfu-terminal"]
	path = lib/corfu-terminal
	url = https://codeberg.org/akib/emacs-corfu-terminal
[submodule "crux"]
	path = lib/crux
	url = git@github.com:bbatsov/crux.git
[submodule "darkroom"]
	path = lib/darkroom
	url = git@github.com:joaotavora/darkroom.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "dim"]
	path = lib/dim
	url = git@github.com:alezost/dim.el.git
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = git@github.com:oantolin/embark.git
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "flx"]
	path = lib/flx
	url = git@github.com:lewang/flx.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "ido-completing-read+"]
	path = lib/ido-completing-read+
	url = git@github.com:DarwinAwardWinner/ido-completing-read-plus.git
[submodule "kind-icon"]
	path = lib/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "libgit"]
	path = lib/libgit
	url = git@github.com:magit/libegit2.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "memoize"]
	path = lib/memoize
	url = git@github.com:skeeto/emacs-memoize.git
[submodule "mwim"]
	path = lib/mwim
	url = git@github.com:alezost/mwim.el.git
[submodule "opencc"]
	path = lib/opencc
	url = git@github.com:xuchunyang/emacs-opencc.git
[submodule "orderless"]
	path = lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "org"]
	path = lib/org
	url = git@github.com:emacsmirror/org.git
[submodule "org-appear"]
	path = lib/org-appear
	url = git@github.com:awth13/org-appear.git
[submodule "org-journal"]
	path = lib/org-journal
	url = git@github.com:bastibe/org-journal.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "popon"]
	path = lib/popon
	url = https://codeberg.org/akib/emacs-popon
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "posframe"]
	path = lib/posframe
	url = git@github.com:tumashu/posframe.git
[submodule "restart-emacs"]
	path = lib/restart-emacs
	url = git@github.com:iqbalansari/restart-emacs.git
[submodule "rg"]
	path = lib/rg
	url = git@github.com:dajva/rg.el.git
[submodule "rime"]
	path = lib/rime
	url = git@github.com:DogLooksGood/emacs-rime.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "scratch"]
	path = lib/scratch
	url = git@github.com:emacsmirror/scratch.git
[submodule "smartparens"]
	path = lib/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "vertico"]
	path = lib/vertico
	url = git@github.com:minad/vertico.git
[submodule "wgrep"]
	path = lib/wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "zyutils"]
	path = lib/zyutils
	url = https://github.com/zyxir/Zyutils.el
