*.temp
.cache
.org-id-locations
.lsp*
.mc-lists.el
amx-items
auto-save-list
backups
bookmarks
custom.el
elpa
emojis
eshell
multisession
network-security.data
org-roam.db
places
projectile*
recentf
server
smex-items
srecode-map.el
straight
transient
url